.bodyContainer .title h1 {
  position: absolute;
  width: 748px;
  height: 42px;
  left: 349px;
  top: 751px;
  font-size: 25px;
  line-height: 42px;
}

.cardContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  top: 815px;
  background: #f1f6f6;
  padding-top: 52px;
  padding-bottom: 12px;
}

.cardContainer .card {
  width: 307.25px;
  height: 377.04px;
  border-radius: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 35px;
  overflow: hidden;
  padding-left: 20px;
  cursor: pointer;
}

.cardContainer .card img {
  height: 100%;
  margin-left: -131px;
}

.cardContainer .card h2 {
  color: #fff;
  margin-top: -148px;
  position: absolute;
  height: 54.32px;
  font-size: 29px;
  line-height: 54px;
}

.subscriptionContainer {
  display: flex;
}

.subscriptionContainer .subscription {
  position: absolute;
  width: 871px;
  height: 38px;
  left: 320px;
  top: 1730px;
  color: #780ae6;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
}

.subscriptionContainer input {
  position: absolute;
  width: 681px;
  height: 43px;
  left: 260px;
  top: 1802px;
  padding-left: 20px;
  font-size: 18px;
}

.subscriptionContainer button {
  position: absolute;
  width: 208px;
  height: 43px;
  left: 953px;
  top: 1802px;
  background: #780ae6;
  border-radius: 7px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
